.footer-list > *:not(:last-child) {
  margin-bottom: 8px;
}
.footer-list-items {
  font-weight: 300;
  font-size: 13px;
}
.footer-list-items:hover {
  cursor: pointer;
  color: #f47458;
}
.footer-list-header {
  font-size: 1rem;
  line-height: 1.75rem;
}

@media only screen and (min-width: 768px) {
  .footer-list-header {
    font-size: 1.1rem;
  }
  .footer-list-items {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-list {
    margin-right: auto;
    margin-left: auto;
  }
  .footer-list > *:not(:last-child) {
    margin-bottom: 12px;
  }
  .footer-list-header {
    font-size: 1.2rem;
    margin-bottom: 1.5rem !important;
  }
  .footer-list-items {
    font-size: 16px;
  }
}
